@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backdrop-blur-lg {
  backdrop-filter: blur(15px);
}

.backdrop-blur-md {
  backdrop-filter: blur(12px); /* Estándar */
  -webkit-backdrop-filter: blur(12px); /* Prefijo WebKit para navegadores basados en WebKit (Safari, Chrome) */
  -moz-backdrop-filter: blur(12px); /* Prefijo Mozilla (experimental) */
  -ms-backdrop-filter: blur(12px); /* Prefijo Microsoft (experimental) */
  -o-backdrop-filter: blur(12px); /* Prefijo Opera (experimental) */
}

.backdrop-blur-custom {
  backdrop-filter: blur(3px); /* Estándar */
  -webkit-backdrop-filter: blur(3px); /* Prefijo WebKit para navegadores basados en WebKit (Safari, Chrome) */
  -moz-backdrop-filter: blur(3px); /* Prefijo Mozilla (experimental) */
  -ms-backdrop-filter: blur(3px); /* Prefijo Microsoft (experimental) */
  -o-backdrop-filter: blur(3px); /* Prefijo Opera (experimental) */
}



.custom-marker {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(0, 195, 255));
  }
  50% {
    filter: drop-shadow(0px 0px 20px rgb(0, 195, 255));
  }
  100% {
    filter: drop-shadow(0px 0px 10px rgb(0, 195, 255));
  }
}

/* globals.css */

/* Animación para el botón "Asistente" */
@keyframes neonPulse {
  0%, 100% {
    box-shadow: 0 0 10px rgba(123, 0, 255, 0.7), 0 0 20px rgba(123, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(123, 0, 255, 0.9), 0 0 30px rgba(123, 0, 255, 0.7);
  }
}

.animate-neon {
  animation: neonPulse 2s infinite;
}

/* Opcional: Si deseas ajustar la velocidad o intensidad de la animación, puedes modificar los valores */

/* Eliminación de box-shadow en el input cuando no está activo */
input:focus {
  /* Añade una sombra suave al enfocar */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

.assistant-text {
  opacity: 1;
  transition: opacity 0.5s ease;
  display: none;
}

button:hover .assistant-text {
  opacity: 1;
  display: block;
}


